.filter-container[b-ypy3ifnxl4] {
    background: rgba(53, 53, 53, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(53, 53, 53, 0.09);
    padding: 8px;
}

form[b-ypy3ifnxl4]{
    display: flex;
}

form > *[b-ypy3ifnxl4] {
    letter-spacing: -0.5px;
    margin: 0px 10px 0px 10px;
    background: rgb(255, 255, 255, 0.70);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.3px);
    -webkit-backdrop-filter: blur(11.3px);
    border: 1px solid rgba(53, 53, 53, 0.09);
    flex: 1 1 0px;
}

form > button[b-ypy3ifnxl4] {
    background: rgb(91, 0, 182, 0.77);
    color: whitesmoke;
}

#movie-container[b-ypy3ifnxl4] {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
