.hor-movies[b-j711xsw5sh] {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.movie-section-header[b-j711xsw5sh]{
    font-weight: 600;
    letter-spacing: -1px;
    color: whitesmoke;
}